<a href="https://colab.research.google.com/github/jamavato25/Datasciense300/blob/main/Ejercicios_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import os
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
print(os.getcwd())
#os.chdir("/content/gdrive/MyDrive")
print(os.getcwd())

/content
/content

In [ ]:
%cd '/content/gdrive/MyDrive/DATA SCIENSE/Semana 1'

/content/gdrive/MyDrive/DATA SCIENSE/Semana 1

## Ejercicio 1 : Listas

Tienen la siguiente lista🏀⚾⚽🥤⭐

```list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]```

Se desea obtener el siguiente output **pero** usando solo el metódo ```append```:

```[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]```

In [ ]:
import numpy as np
list1=[10,20,[300,400,[5000,6000],500],30,40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Ejercicio 2 : Sets
Dados los siguientes conjuntos⛹✅☁⚽✨

```s1 = {10, 20, 30, 40, 50}```

```s2 = {30, 40, 50, 60, 70}```

1. Como es posible obtener el siguiente output con alguno de los metódos vistos para sets

```{40, 50, 30}```

2. Como es posible obtener el siguiente output con alguno de los metódos vistos para sets

```{70, 40, 10, 50, 20, 60, 30}```

3. Extraer todos los elementos de s2 que no estan en s1

In [ ]:
print('___________')
print('Primera Parte')
s1= {10,20,30,40,50}
s2= {30,40,50,60,70}
print(s1.intersection(s2))
print('___________')
print('Segunda Parte')
print(s1.union(s2))
print('___________')
print('Tercera Parte')
s2.difference(s1)

___________
Primera Parte
{40, 50, 30}
___________
Segunda Parte
{70, 40, 10, 50, 20, 60, 30}
___________
Tercera Parte

{60, 70}

## Ejercicio 3: Tuplas

Dada la siguiente tupla✈⏰♒⛹

```tupla=(10, 20, 30, 40, 50)```

Responder:

1. Ordenar la tupla de mayor a menor
2. Extraer los valores de la tupla en las siguientes variables: a,b,c,d,e
3. Ahora suponga que tiene la siguiente tupla: 
```tupla_d = (11, [22, 33], 44, 55)```
Recordando el concepto de inmutabilidad de las tuplas, sería posible poder modificar el valor **22** por **222** o en este caso no se puede?. Justifiquen

In [ ]:
tupla=(10,20,30,40,50)
print('___________')
print('Primera Parte')
print(tupla[::-1])
print('___________')
print('Segunda Parte')
a,b,c,d,e= tupla
print(a,b,c,d,e)
print('___________')
print('Tercera Parte')
tupla_d=(11,[22,33],44,55)
tupla_d[1][0]=222
print(tupla_d)

___________
Primera Parte
(50, 40, 30, 20, 10)
___________
Segunda Parte
10 20 30 40 50
___________
Tercera Parte
(11, [222, 33], 44, 55)

## Ejercicio 4: Diccionarios

1. Supongan que tienen el siguiente diccionario similar a lo que se obtiene de una API ([texto del enlace](https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/)) 
```
dict_david = {
    "clase": {
        "estudiante": {
            "nombre": "David",
            "notas": {
                "fisica": 4.9,
                "matematicas": 4.8
            }
        }
    }
}
```

Como se puede obtener el valor respectivo para la llave primaria ```matematicas```❗♥♨ℹ

2. Con base en el siguiente diccionario, renombrar la llave primaria ciudad por ubicacion 🥱⏬⚡✉

```dic_prueba = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
```

3. Obtener la llave primaria del valor minimo para el siguiente diccionario 😶🧵⚔♦

```
dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
```

4. Con base en el siguiente diccionario✈⚔😀😼
```
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}
}
```
Reemplazar el valor de 7590000 de Juan por 8000000.

In [ ]:

dict_david = {
 "clase": {
     "estudiante": {
         "nombre": "David",
         "notas": {
             "fisica": 4.9,
             "matematicas": 4.8
         }
     }
 }
}
print('___________')
print('Primera Parte')
print(dict_david['clase']['estudiante']['notas']['matematicas'])
print('___________')
print('Segunda Parte')
dict_1={"nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"}
dict_1['ubicacion'] = dict_1.pop('ciudad')
print(dict_1)
print('___________')
print('tercera Parte')
dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
print(min (dicc,key=dicc.get))
print('___________')
print('Cuarta Parte')
dict_a = {
 'e1': {'nombre': 'David', 'salario': 12000000},
 'e2': {'nombre': 'Juan', 'salario': 7590000},
 'e3': {'nombre': 'Amir', 'salario': 6787000}
}
dict_a['e2']['salario']=8000000
print(dict_a)

___________
Primera Parte
4.8
___________
Segunda Parte
{'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ubicacion': 'Santiago'}
___________
tercera Parte
Calculo Actuarial
___________
Cuarta Parte
{'e1': {'nombre': 'David', 'salario': 12000000}, 'e2': {'nombre': 'Juan', 'salario': 8000000}, 'e3': {'nombre': 'Amir', 'salario': 6787000}}