<a href="https://colab.research.google.com/github/jamavato25/Datasciense300/blob/main/Ejercicio_04_Series_de_Tiempo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
import os
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
%cd '/content/gdrive/MyDrive/DATA SCIENSE/DATA EJERCICIO 4/'

/content/gdrive/MyDrive/DATA SCIENSE/DATA EJERCICIO 4

In [7]:
import pandas as pd
og = pd.read_csv('/content/gdrive/MyDrive/DATA SCIENSE/DATA EJERCICIO 4/Summer-Olympic-medals-1976-to-2008.csv',sep=",", encoding='latin-1')
og

           City    Year      Sport  ...        Country Event_gender   Medal
0      Montreal  1976.0   Aquatics  ...   East Germany            W  Silver
1      Montreal  1976.0   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976.0   Aquatics  ...  United States            M    Gold
3      Montreal  1976.0   Aquatics  ...          Italy            M  Silver
4      Montreal  1976.0   Aquatics  ...  United States            W  Bronze
...         ...     ...        ...  ...            ...          ...     ...
15428   Beijing  2008.0  Wrestling  ...         France            M  Bronze
15429   Beijing  2008.0  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008.0  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008.0  Wrestling  ...         France            M    Gold
15432   Beijing  2008.0  Wrestling  ...           Cuba            M    Gold

[15433 rows x 11 columns]